/* custom tweaks */
.container { max-width: 1100px; margin: 0 auto; }
.min-h-120 { min-height: 120px; }
.btn-danger {
    background-color: #dc3545;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.btn-danger:hover {
    background-color: #b52b38;
}
